@import "base.less";




.first_page_button {
	.rounded-corners;
	width: 300px;
	height: 300px;
	color: @FONT_COLOR;
    background-color: @MEDIUM_BLUE;
    font-family: @MAIN_FONT;
    border: 1px solid #666;
    opacity: @ICON_OPACITY;

    
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  

      &:hover {
        background-color: @LIGHT_BLUE;

      
    }    
}

