@import "base.less";
@import "normalize.less";

#first_page_photoshop {
    .rounded-corners;
    width: 285px;
    height: 285px;
    color: @FONT_COLOR;
    background-color: @MEDIUM_BLUE;
    font-family: @MAIN_FONT;
    border: 1px solid #666;
    opacity: @ICON_OPACITY;
    float: left;
    
 
  

       
}

#first_page_photoshop_back {
    .rounded-corners;
    width: 285px;
    height: 285px;
    color: @FONT_COLOR;
    background-color: @MEDIUM_BLUE;
    font-family: @MAIN_FONT;
    border: 1px solid #666;
    opacity: 0.3;
    float: left;
    


      
}


.play {

   // a:link    { color: white };  /* unvisited links */
   //a:visited { color: white }; /* visited links   */
    //a:hover   { color: #00c };  /* user hovers     */
   // a:active  { color: #ccc };  /* active links    */
    position: fixed;
    top: 36%;
    left: 36%;
    
    font-family: @MAIN_FONT;
    color: white;

    font-size: 60px;
}






.whole_container {
    .container;

}


.head_container {
    .container;
   
    padding-top: 50px;
    text-align: center;
    
    

}



.first_page_button {
	.rounded-corners;
	width: 285px;
	height: 285px;
	color: @FONT_COLOR;
    background-color: @MEDIUM_BLUE;
    font-family: @MAIN_FONT;
    border: 1px solid #666;
    opacity: @ICON_OPACITY;
    float: left;
    
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  

      &:hover {
        background-color: @LIGHT_BLUE;
        opacity: 0.5;
        

      
    }    
}


.resize_logo {
    
   
    width: 285px;
    height: 285px;
    padding-top: 6px;

}

.dark_shadow{
    width: 285px;
    height: 285px;
    opacity: 0.5;

}










/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: perspective: 1000;
    -moz-perspective:1000;
    -o-perspective:1000;
    perspective: 1000;
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.flip-container, .front, .back {

    width: 285px;
    height: 285px;
}

/* flip speed goes here */
.flipper {

    -moz-transform: perspective (1000px);
    -moz-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;

    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;


    position: absolute;
    top: 0;
    left: 0;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.front {
    z-index: 2;
}